# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\My Work Place REST\IJSE Rest\Student-Registration-Culinary-Academy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
